nav {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 3.75rem;
    background-color: #811290;
    z-index: 1000;
    width: 100vw;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0px 23px;
}

nav ul li a {
    text-decoration: none;
    color: whitesmoke;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3), 0 0 10px #ff7e5f;
}

nav ul li a:hover {
    color: rgb(49, 221, 49);
    font-size: 1.1rem;
}


.logo {
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    font-weight: 700;
    background: linear-gradient(45deg, #ff8c00, #ff0080);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    text-align: center;
    padding-top: 3.875rem;
    box-sizing: border-box;

}

.main div:hover {
    cursor: pointer;
}

.firstsection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 100vw;
    scroll-margin-top: 2rem;
}

.firstsection>div {
    width: 30%;
}

.leftsection {
    font-size: 3rem;
}

.rightsection img {
    width: 70%;
    margin: 100px 0px 0px 0px;
}

#element {
    color: lightgreen;
}

.aboutsection {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
    height: 100vh;
    width: 100vw;
    scroll-margin-top: 2rem;
}

.profile_summary {
    max-width: 1090px;
    margin: 0px auto;
    padding: 0px 20px;
    box-sizing: border-box;
}

.eduexpcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    color: black;

}

.edu {
    background-color: #fff7df;
    border: 2px solid green;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    border-radius: 3rem;
    max-width: 30rem;
    max-height: 18rem;
}


.top {
    width: 26vw;
    height: 6vw;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

#pce {
    margin: 0px 20px 18px 0px;
    font-size: medium;
    line-height: 18px;
}

.date {
    display: flex;
    height: 7vh;
    width: 13vw;
}

#degreeimg {
    height: 8vh;
}

.skillsection {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-margin-top: 2rem;
    height: 100vh;
    width: 100vw;
}

.skillscard {

    height: 30rem;
    width: 80rem;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skillscard div img:hover {
    cursor: pointer;
    transition: transform 0.5s;
    width: 15rem;
    background-color: rgb(83, 27, 131);
    border: 2px solid rgb(93, 38, 41);
    border-radius: 2rem;
}

.iconimgs {
    width: 120px;
}

.projects_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-margin-top: 2rem;
    height: 100vh;
    width: 100vw;
}

.projects_content {
    display: flex;
    /* flex-direction: column; */
    gap: 2rem;
    padding: 1rem;
    max-width: 1100px;

}

.projects_content>div {
    background-color: #cb8e8e;
    border-radius: 2rem;
    padding: 1.5rem;
    width: 100%;
    max-width: 600px;
    font-size: 18px;
    line-height: 1.8;
    text-align: justify;
    letter-spacing: 0.5px;
    word-spacing: 2px;
    margin: auto;
    /* center horizontally */
    overflow-wrap: anywhere;
    word-break: break-word;
    white-space: normal;
    box-sizing: border-box;
}

.projects_content>div:hover {
    background-color: #b81414;
}

.projects_content h3 {
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-margin-top: 2rem;
    height: 100vh;
    width: 100vw;
}

.contacts h1 {
    scroll-margin-top: 2 rem;
    margin-bottom: 1rem;
}

.contact_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1100px;
    max-height: 500px;
    height: 100%;
    width: 100%;

}

.details {
    height: 84%;
    width: 60%;
    color: rgb(255, 53, 235);
    max-width: 500px;
    max-height: 800px;
    text-align: justify;
    padding: 2rem;
    background-color: #010101;
    border-radius: 2rem;
}

.details div a {
    color: white;
    text-decoration: none;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3), 0 0 10px #ff7e5f;
}

.details div a:hover {
    color: rgb(49, 221, 49);
    font-size: 1.1rem;
    cursor: pointer;
}

.form {
    max-width: 500px;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 2rem;
}

.input_box {
    width: 100%;
    border-radius: 2rem;
}

.full_name {
    width: 100%;
    height: 2rem;
    border-radius: 2rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

.email {
    width: 100%;
    height: 2rem;
    border-radius: 2rem;
    margin-bottom: 0.5rem;
     text-align: center;
}

.mobile_no {
    width: 100%;
    height: 2rem;
    border-radius: 2rem;
    margin-bottom: 0.5rem;
     text-align: center;
}

.subject {
    width: 100%;
    border-radius: 2rem;
    height: 2rem;
     text-align: center;
    margin-bottom: 0.5rem;
}

.message {
    width: 100%;
    border-radius: 2rem;
     text-align: center;
    height: 20rem;
    margin-bottom: 0.5rem;
}

.btn {
    width: 100%;
    height: 2.5rem;
    display: inline-block;
    font-size: 1rem;
    color: black;
    font-weight: 700;
    padding: 6px 2rem;
    background-color: rgb(255, 255, 8);
    border-radius: 0.6rem;
   border: 2px solid black;
    transition: 0.5s;
}

.btn:hover {
    background-color: rgb(74, 255, 8);
}



.footer {
    display: flex;
    background-color: #080309;
    height: 20rem;
    justify-content: space-evenly;
    align-items: center;
}

footer div a {
    color: white;
    text-decoration: none;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3), 0 0 10px #ff7e5f;
}

footer div p:hover {
    color: rgb(49, 221, 49);
    font-size: 1.1rem;
    cursor: pointer;
}

footer div a:hover {
    color: rgb(49, 221, 49);
    font-size: 1.1rem;
    cursor: pointer;
}

.socialMedia {
    display: flex;

    gap: 2rem;
}

.hire:hover {
    color: rgb(199, 19, 43);
    font-size: 1.5rem;
    cursor: pointer;
}