header {
    width: 100%;
    height: 6em;
}

nav {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 3.75rem;
    background-color: #811290;
    z-index: 1000;
    width: 100vw;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0px 23px;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    color: whitesmoke;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3), 0 0 10px #ff7e5f;

}

nav ul li a:hover {
    color: rgb(49, 221, 49);
    font-size: 1.1rem;
}


.logo {
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    font-weight: 700;
    background: linear-gradient(45deg, #ff8c00, #ff0080);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    max-width: 401px;
}


.main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
}

.main div:hover {
    cursor: pointer;
}

.firstsection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* min-height: 100vh; */
    width: 100%;
    max-width: 1200px;
    scroll-margin-top: 2rem;
    padding: 8rem 1rem 8rem 1rem;
    flex-wrap: wrap;

}

.leftsection {
    font-size: 3rem;
    width: 30%
}

.rightsection {
    width: 50%
}

.rightsection img {
    width: 60%;
    margin: 100px 0px 0px 0px;
    display: block;
    height: auto;
    max-width: 100%;
}

#element {
    color: lightgreen;
}

.aboutsection {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
    height: 100%;
    width: 100%;
    max-width: 1200px;
    scroll-margin-top: 4rem;
    margin: auto;
    padding: 0 1rem;
    flex-wrap: wrap;
}

.about_container {
    display: flex;
    flex-direction: column;
    max-width: 1080px;
    box-sizing: border-box;
}

.quotes {

    font-family: 'Georgia', serif;
    font-size: 20px;
    font-style: italic;
    color: #f59f4e9b;
    border-left: 5px solid #ff7e5f;
}


.eduexpcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    color: black;
    padding: 1rem;

}

.edu {
    background-color: #fff7df;
    border: 2px solid green;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    border-radius: 8px;
    max-width: 30rem;
    max-height: 26rem;
    padding: 1rem;
    overflow-wrap: anywhere;
    word-break: break-word;
    white-space: normal;
}


.top {
    display: flex;
    max-width: 445px;
    flex-wrap: wrap;
}

#pce {
    font-size: medium;
    line-height: 18px;
}

.date {
    display: flex;
    height: 7vh;
    width: 13vw;
}

#degreeimg {
    height: auto;
    display: block;
    max-width: 50px;
    width: 100%;
}


.skillsection {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    scroll-margin-top: 4.6rem;
    max-width: 1200px;
    width: 100%;
    padding: 0 1rem;
    flex-wrap: wrap;
    margin: auto;
}

.skillscard {

    max-width: 80rem;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 100px;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skillscard div img:hover {
    cursor: pointer;
    transition: transform 0.5s;
    width: 15rem;
    background-color: rgb(83, 27, 131);
    border: 2px solid rgb(93, 38, 41);
    border-radius: 2rem;
}

.iconimgs {
    width: 120px;
    display: block;
    max-width: 100%;
    height: auto;
}

.projects_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-margin-top: 2rem;
    min-height: 100vh;
    max-width: 1200px;
    width: 100%;
    padding: 0 1rem;
    margin: auto;
    flex-wrap: wrap;
}

.projects_content {
    display: flex;
}

.projects_content>div {
    background-color: #cb8e8e;
    border-radius: 2rem;
    padding: 1.2rem;
    width: 100%;
    max-width: 600px;
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
    letter-spacing: 0.5px;
    word-spacing: 1.5px;
    margin: auto;
    overflow-wrap: anywhere;
    word-break: break-word;
    white-space: normal;
    box-sizing: border-box;
    border: 2px solid gold;
}

.projects_content>div:hover {
    background-color: #b81414;
}

.projects_content h3 {
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}

.contact_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-margin-top: 2rem;
    min-height: 100vh;
    max-width: 1200px;
    width: 100%;
    padding: 0 1rem;
    margin: auto;
    flex-wrap: wrap;
}

.contact_section h1 {
    scroll-margin-top: 2 rem;
    margin-bottom: 2.5rem;
}

.contact_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    width: 100%;

}

.details {
    width: 100%;
    color: rgb(255, 53, 235);
    max-width: 500px;
    text-align: justify;
    padding: 2rem;
    background-color: #010101;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: inherit;
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: normal;

}

.socialMedia {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

.details div a {
    color: white;
    text-decoration: none;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3), 0 0 10px #ff7e5f;
}

.details div a:hover {
    color: rgb(49, 221, 49);
    font-size: 1.1rem;
    cursor: pointer;
}

.form {
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 2rem;
}

.input_box {
    width: 100%;
    border-radius: 2rem;
}

.full_name {
    width: 100%;
    height: 2rem;
    border-radius: 2rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

.email {
    width: 100%;
    height: 2rem;
    border-radius: 2rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

.mobile_no {
    width: 100%;
    height: 2rem;
    border-radius: 2rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

.subject {
    width: 100%;
    border-radius: 2rem;
    height: 2rem;
    text-align: center;
    margin-bottom: 0.5rem;
}

.message {
    width: 100%;
    border-radius: 2rem;
    text-align: center;
    margin-bottom: 0.5rem;
}

.btn {
    width: 100%;
    height: 2.5rem;
    display: inline-block;
    font-size: 1rem;
    color: black;
    font-weight: 700;
    padding: 6px 2rem;
    background-color: rgb(255, 255, 8);
    border-radius: 0.6rem;
    border: 2px solid black;
    transition: 0.5s;
}

.btn:hover {
    background-color: rgb(74, 255, 8);
}



.footer {
    display: flex;
    background-color: #080309;
    height: 20rem;
    justify-content: space-evenly;
    align-items: center;
}

footer div a {
    color: white;
    text-decoration: none;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3), 0 0 10px #ff7e5f;
}

footer div p:hover {
    color: rgb(49, 221, 49);
    font-size: 1.1rem;
    cursor: pointer;
}

footer div a:hover {
    color: rgb(49, 221, 49);
    font-size: 1.1rem;
    cursor: pointer;
}

.socialMedia1 {
    display: flex;

    gap: 2rem;
}

.hire:hover {
    color: rgb(199, 19, 43);
    font-size: 1.5rem;
    cursor: pointer;
}

/*Responsiveness*/
@media screen and (max-width: 1086px) {

    header {
        width: 100%;
        height: 10rem;
    }

    nav {
        position: fixed;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 6.75rem;
        background-color: #811290;
        z-index: 1000;
        width: 100vw;
        flex-wrap: wrap;
    }

    .main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
    }


    .firstsection {
        display: flex;
        justify-content: start;
        align-items: center;
        min-height: 100vh;
        width: 100%;
        max-width: 1200px;
        margin: auto;
        margin-top: auto;
        margin-top: auto;
        scroll-margin-top: 4rem;
        padding: 0 1rem;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .rightsection img {
        width: 100%;
        margin: 50px 0px 0px 0px;
        display: block;
        height: auto;
        max-width: 100%;
    }

    .leftsection {
        width: 50%;
        text-align: inherit;
        overflow-wrap: break-word;
        word-break: break-word;
        white-space: normal;
        line-height: 1;
    }

    .aboutsection {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        align-content: space-evenly;
        height: 100%;
        width: 100%;
        max-width: 1200px;
        scroll-margin-top: 7rem;
        margin: auto;
        padding: 0 1rem;
        flex-wrap: wrap;

    }

    .skillsection {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        scroll-margin-top: 2rem;
        max-width: 1200px;
        width: 100%;
        padding: 0 1rem;
        flex-wrap: wrap;
        margin: auto;
    }

    .projects_section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        scroll-margin-top: 4rem;
        min-height: 100vh;
        max-width: 1200px;
        width: 100%;
        padding: 0 1rem;
        margin: auto;
        flex-wrap: wrap;
    }


    .projects_content>div {
        background-color: #b72626;
        border-radius: 2rem;
        padding: 1.2rem;
        width: 100%;
        max-width: 600px;
        font-size: 16px;
        line-height: 1.5;
        text-align: left;
        letter-spacing: 0.5px;
        word-spacing: 1.5px;
        margin: auto;
        overflow-wrap: anywhere;
        word-break: break-word;
        white-space: normal;
        box-sizing: border-box;
        border: 2px solid gold;
    }

    .contact_section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        scroll-margin-top: 2rem;
        min-height: 100vh;
        max-width: 1200px;
        width: 100%;
        padding: 0 1rem;
        margin: auto;
        flex-wrap: wrap;
    }

}

@media screen and (max-width: 686px) {

    nav {
        position: fixed;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 11.75rem;
        background-color: #811290;
        z-index: 1000;
        width: 100%;
        flex-wrap: wrap;
    }

    .logo {
        font-family: 'Poppins', sans-serif;
        font-size: 35px;
        font-weight: 700;
        background: linear-gradient(45deg, #ff8c00, #ff0080);
        background-clip: border-box;
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        cursor: pointer;
        max-width: 209px;
    }

    .skillscard {
        gap: 20px;
    }

    .projects_content {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

    }
}

@media screen and (max-width: 670px) {
    .right ul {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .socialMedia1 {
        display: flex;
        gap: 2rem;
        text-align: center;
        flex-direction: column;
    }

    .rights {
        text-align: center;
    }

    .made {
        text-align: center;
    }

    footer {
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    .contact_section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        scroll-margin-top: 2rem;
        min-height: 100vh;
        max-width: 1200px;
        width: 100%;
        padding: 0 1rem;
        margin: auto;
        flex-wrap: wrap;
    }

    .contact_container {
        flex-direction: column;
    }

    .right ul li {
        margin: auto;
    }

    .edu {
        background-color: #fff7df;
        border: 2px solid green;
        display: flex;
        flex-wrap: wrap;
        border-radius: 8px;
        max-width: 30rem;
        padding: 1rem;
        overflow-wrap: anywhere;
        word-break: break-word;
        white-space: normal;
    }
}

@media screen and (max-width: 359px) {
    nav{
        flex-direction: column;
    }
}

@media screen and (max-width:600px) {
    .firstsection{
    scroll-margin: 11rem;
    }
    .aboutsection{
        scroll-margin: 11rem;
    }
    .skillsection{
        scroll-margin: 11rem;
        min-height: 80vh;
    }
    .projects_section{
        scroll-margin: 11rem;
    }
    .contact_section{
        scroll-margin: 11rem;
        min-height: 80vh;
    }
}
