html,
body {
    background-color: #23023a;
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
*,*::before, *::after{
    box-sizing: border-box;
}
img, video, iframe {
    max-width: 100%;
    height: auto;
    display: block;
}
/* * {
  outline: 1px solid red;
} */